/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.header {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.65), rgba(85, 197, 122, 0.65)), url('../img/hero.jpg');
  height: 90vh;
  background-size: cover;
  clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
}

.logo {
  height: 50px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Lato';
}

.main-title {
  font-size: 60px;
  letter-spacing: 20px;
  /* transition-property: transform;
  transition-duration: 2s; */
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

/* .main-title:hover {
  transform: scale(2, 2);
} */

.sub-title {
  font-size: 40px;
  letter-spacing: 15px;
  animation: moveInRight 3s ease-in;
  margin-bottom: 30px;
}

.button:link, .button:visited {
  text-decoration: none;
  color: ;
  padding: 10px 30px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  transition-property: all;
  transition-duration: 0.2s;
  animation: moveUp 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.button:hover {
  transform: translateY(-3px);
}

.button:active {
  transform: translateY(2px);
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-800px);
    opacity: 0;
  }
  80% {
    transform: translateX(15px) rotate(-60deg);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(800px);
    opacity: 0;
  }
  98% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}
