.section-4 {
  position: relative;

  .story {
    width: 75%;
    margin: auto;
    border-radius: 3px;
    box-shadow: 0 2rem 7rem rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.8);
    padding: 6rem;
    margin-bottom: 10rem;
    transform: skewX(10deg);

    .shape {
      position: relative;
      height: 15rem;
      width: 15rem;
      float: left;
      clip-path: circle(50%);
      shape-outside: circle(50%);
      -webkit-shape-outside: circle(50%);
      transform: translateX(-10%) skewX(-10deg);

      img {
        height: 100%;
        object-fit: cover;
        transform: translateX(-15%) scale(1.3);
        transition: all .2s;
      }

      .caption {
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        color: white;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.1rem;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 70%);
        transition: all .3s;
      }
    }

    .text {
      .heading-paragraph {
        margin-top: 0;
      }
    }

    &:hover {
      img {
        filter: blur(4px);
        transform: translateX(-15%) scale(1);
      }

      .caption {
        opacity: 1;
        transform: translate(-50%, -40%);

      }
    }

    & > * {
      transform: skewX(-10deg);
    }
  }

  .bg-video {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: .2;

    video {
      object-fit: cover;
    }
  }
}
